@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&family=Libre+Baskerville:wght@400;700&family=Nunito:wght@200;300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700;800&family=PT+Sans:wght@400;700&family=Ubuntu:wght@300;400;500;700&display=swap');

:root {
    --white: #ffffff;
    --gray-light: #f5fbfc;
    --gray-dark: #08090a;
    --green: #35b8be;
    --green-dark: #1b9097;
    --green-light: #f5fbfc;
    --blue-dark: #546285;
}
body
{
    font-size: 16px;
    margin: 0;
    font-family: 'Inter', sans-serif;
}
header div 
{
    display: none;
}
header nav img 
{
    width: 50px;
    height: 50px;
}

nav
{
    display: flex;
    justify-content: space-around;
}
header nav ul 
{
    display: none;
}
#container
{
    margin: auto;
}
.firstPart
{
    width: 90%;
    margin: auto;
}
.firstBigTitle
{
    text-align: center;

}
.firstBigTitle div h1
{
    font-size: 4em;
    color: var(--gray-dark);
    text-align: center;
}
.firstBigTitle div h1 span 
{
    color: var(--green);
    display: inline-block;
    
}
.firstBigTitle div p
{
    color: var(--blue-dark);
    text-align: center;
    font-size: 2em;
    margin: 20px 10px 50px 10px;
}
.firstBigTitle  a
{
    padding: 10px 40px;
    color: var(--white);
    background-color: var(--green);
    list-style: none;
    text-decoration: none;
    border-radius: 5px;
    display: inline;
    align-content: center;
    background-image: url(images/button_wave.svg) ;
    background-size: cover;
    background-repeat: no-repeat;
   
}

.burgerPicture
{
    width: 90%;
    margin: 50px 25px;


}
.homeFreshProducts
{
    text-align: center;
    background-color: var(--green-light);
}
.homeFreshProducts h2
{
    font-size: 3em;
    color: var(--green);
    text-align: center;
}
.homeFreshProducts div p 
{
    text-align: center;
    color: var(--blue-dark);
    margin: 20px 10px 50px 10px;
}
.homeFreshProducts div a
{
    margin-top: 20px;
    padding: 10px 40px;
    color: var(--white);
    background-color: var(--green);
    list-style: none;
    text-decoration: none;
    border-radius: 5px;
    display: inline;
    align-content: center;
    background-image: url(images/button_wave.svg) ;
    background-size: cover;
    background-repeat: no-repeat;
   
}
.containerWorks
{
    width: 90%;
    margin: auto;
}
.works
{
    text-align: center;
}
.containerWorks h2
{
    font-size: 3em;
    color: var(--green);
    text-align: center;
}
.works div h3
{
    font-size: 2em;

}
.works div p 
{
    color: var(--blue-dark);
    padding-bottom: 50px;
}
.onlineOrders
{
    text-align: center;
}
.onlineOrders h3 
{
    font-size: 2em;
}
.onlineOrders p 
{
    color: var(--blue-dark);
    padding-bottom: 50px;
}
.delivery
{
    text-align: center;
}
.delivery h3
{
    font-size: 2em;
}
.delivery p 
{
    color: var(--blue-dark);
    padding-bottom: 50px;
}
footer 
{
    background-color: var(--green-light);
    height: 100px;

}

footer h4 
{
    color: var(--green-dark);
    padding: 20px 0 0 10px;
}
footer div a 
{
    text-decoration: none;
    color: var(--blue-dark);
    font-weight: bold;
    padding-left: 10px;
}